<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>You have recieved a request from a Host</h1>
    <p>Sign in to view request and create event with Host</p>
  </body>
</html>
