<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Thanks for signing up to ian's awesome site! <%= @user.first_name %></h1>
    <p>Now sign in!</p>
  </body>
</html>
